<!DOCTYPE html>
<title>Datatable</title>
<% include partial/header %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pako/1.0.5/pako.min.js"></script>
<script src="kwdatagrid.js"></script>
<div class="container-fluid">
  <img id="loading-icon" src="./assets/loading2.gif"/>
  <div id="toolbar" class="btn-toolbar"></div>
  <div id="datagrid"></div>
</div>
<div id="dialogs"></div>
<script type="text/javascript">
  kwdatagrid.run();
</script>
</body>
