<!DOCTYPE html>
<title>New datagrid view</title>
<% include partial/header %>
<script src="https://vega.github.io/vega/vega-core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pako/1.0.5/pako.min.js"></script>
<script src="datagridApp.js"></script>
<div class="container-fluid" style="overflow-y: hidden;">
  <img id="loading-icon" src="./assets/loading2.gif"/>
  <div id="menubar" class="btn-toolbar" role="toolbar"></div>
  <div id="dg-search"></div>
  <div id="datagrid"></div>
</div>
<div id="dialogs"></div>
<script type="text/javascript">
  datagridApp.run();
</script>
