<!DOCTYPE html>
<title>Similarity network</title>
<% include partial/header %>
<script src="https://cdn.rawgit.com/upphiminn/jLouvain/76b19313/jLouvain.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pako/1.0.5/pako.min.js"></script>
<script src="kwnetwork.js"></script>
<div class="container-fluid" style="background-color: #fffff9">

  <!--
  <div id="debugbar">
    <div>state.transform: <span id="debug-transform"></span></div>
    <div>state.boundary: <span id="debug-boundary"></span></div>
    <div>state.focusArea: <span id="debug-focusarea"></span></div>
    <div>state.viewBox: <span id="debug-viewbox"></span></div>
  </div>
  -->

  <div id="toolbar" class="btn-toolbar" role="toolbar"></div>
  <div id="contents" class="row">
    <div id="nw-control" class="col-sm-3 p-2"></div>
    <div id="nw-frame" class="col-sm-9 px-0"></div>
  </div>
</div>
<div id="dialogs">
  <%- include('dialog/dialogBase', {id: 'community', title: 'Community detection'}); %>
  <%- include('dialog/dialogBase', {id: 'prompt', title: ''}); %>
  <%- include('dialog/confirmDialog'); %>
  <%- include('dialog/importConfirmDialog'); %>
</div>
<script type="text/javascript">
  kwnetwork.run();
</script>
