<!DOCTYPE html>
<title>Report</title>
<% include partial/header %>
<div class="container-fluid">
<form>
  <div class="btn-toolbar">
    <a role="button" class="btn btn-secondary btn-sm" href="control.html" target="_blank">Open control panel</a>
  </div>
  <div class="col-sm-4">
  <div class="card">
    <div class="card-header">1. Select QCSessions</div>
    <div class="card-block">
      <div class="form-group row">
        <label for="refids" class="col-sm-4 col-form-label">QCSRefIDs</label>
        <div class="col-sm-8">
          <textarea id="refids" class="form-control" name="query" placeholder="QCS-xxx&#10;QCS-yyy">QCS-4002</textarea>
        </div>
      </div>
    </div>
    <div class="card-footer text-xs-right">
      <button type="button" id="refids-submit" class="btn btn-primary" disabled>OK</button>
    </div>
  </div>
  </div>
  <div class="col-sm-8">
    <div class="row">
    <div class="card">
      <div class="card-header">2. Select layers to export</div>
      <div class="card-block">
        <table id="qcs-table" class="table table-striped table-hover"></table>
      </div>
    </div>
    </div>
    <div class="row">
    <div class="card">
      <div class="card-header">3. Select report format</div>
      <div class="card-block">
        <div class="form-group row">
          <label for="templates" class="col-sm-2 col-form-label">Template</label>
          <div class="col-sm-4">
            <select id="templates" class="form-control" name="template"></select>
          </div>
          <div class="col-sm-2">
            <button type="button" id="preview-submit" class="btn btn-secondary" data-target="#preview-submit" disabled>Preview</button>
          </div>
        </div>
        <h6 id="preview-desc" style="display: none">Report preview (first plate of the first QCSession)</h6>
        <table id="preview-table" class="table table-striped table-hover"></table>
      </div>
      <div class="card-footer text-xs-right">
        <button type="button" id="report-submit" class="btn btn-primary" data-target="#report-submit" disabled>Submit</button>
      </div>
    </div>
    </div>
  </div>
</div>
</form>
<script src="report.js"></script>
