<!DOCTYPE html>
<title>API Test</title>
<% include partial/header %>
<div class="container-fluid">
  <div class="btn-toolbar">
    <a role="button" class="btn btn-secondary btn-sm" href="control.html" target="_blank">Open control panel</a>
  </div>
  <table id="test" class="table table-striped table-hover" style="display:inline-block"></table>
</div>
<script src="testAPI.js"></script>
