<!DOCTYPE html>
<title>Tile view</title>
<% include partial/header %>
<script src="https://vega.github.io/vega/vega-core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pako/1.0.5/pako.min.js"></script>
<script src="tileApp.js"></script>
<div class="container-fluid">
  <div id="menubar" class="btn-toolbar" role="toolbar"></div>
  <div id="contents" class="row">
    <div id="tl-control" class="col-sm-3 p-2"></div>
    <div id="tl-frame" class="col-sm-9 px-0"></div>
  </div>
</div>
<div id="dialogs"></div>
<script type="text/javascript">
  tileApp.run();
</script>
