<div class="form-group row">
  <label id="community-label" for="prompt-input" class="col-sm-3 col-form-label">New name</label>
  <div class="col-sm-9">
    <input id="community-name" class="form-control" type="text" name="name" size="40"/>
  </div>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input id="community-nulliso" class="form-check-input" type="checkbox" checked/>Assign null to isolated nodes
  </label>
</div>
