<div class="form-group row">
  <label for="graph-measure" class="col-sm-2 col-form-label">Measure</label>
  <div class="col-sm-10">
    <select id="graph-measure" class="form-control" name="measure">
      <option value="gls">Graph-based local similarity(GLS)</option>
      <option class="rd" value="rdmorgan" disabled>RDKit Morgan similarity</option>
      <option class="rd" value="rdfmcs" disabled>RDKit FMCS similarity</option>
    </select>
  </div>
</div>
<div class="form-group row">
  <label for="graph-thld" class="col-sm-4 col-form-label">Network threshold</label>
  <div class="col-sm-8">
    <input type="number" id="graph-thld" class="form-control" name="threshold" value="0.5" min="0" max="1" step="0.01" />
  </div>
</div>
<h6 class="form-group row">
  <a class="col-sm-6" data-toggle="collapse" href="#graph-options" aria-expanded="false" aria-controls="graph-mcsparam">Optional parameters</a>
</h6>
<div id="graph-options" class="collapse">
<div class="card card-block">
  <div class="form-group row">
    <div class="col-sm-6 form-inline">
      <label for="graph-diam" class="form-label">Diameter</label>
      <input type="number" id="graph-diam" class="form-control gls" name="diameter" value="8" min="4" max="999"/>
    </div>
    <div class="col-sm-6 form-inline">
      <label for="graph-tree" class="form-label">Tree size</label>
      <input type="number" id="graph-tree" class="form-control gls" name="max_tree" value="40" min="20" max="999"/>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-7 form-inline">
      <label for="graph-skip" class="form-label">Skip molecule larger than</label>
      <input type="number" id="graph-skip" class="form-control gls" name="skip_large" value="500" min="20" max="999"/>
    </div>
    <div class="col-sm-5 form-inline">
      <label for="graph-timeout" class="form-label">Timeout(sec)</label>
      <input type="number" id="graph-timeout" class="form-control fmcs" name="timeout" value="1" min="1" max="999" disabled/>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" id="graph-ignoreh" class="form-check-input" checked/> Ignore explicit hydrogens
        </label>
      </div>
    </div>
  </div>
</div>
</div>
