<div class="form-group row">
  <label for="graphconfig-thld" class="col-sm-4 col-form-label">Edge threshold</label>
  <div class="col-sm-4">
    <input type="number" id="graphconfig-thld" class="form-control" step="0.001" />
  </div>
</div>
<div class="form-group row">
  <div class="form-check">
    <label class="form-check-label">
      <input id="graphconfig-onmove" class="form-check-input" type="checkbox" disabled="disabled" checked/>Hide edges on move<small class="text-muted">(recommended if num of nodes > 500)</small>
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input id="graphconfig-autosave" class="form-check-input" type="checkbox" disabled="disabled" checked/>Auto save<small class="text-muted">(on simulation finished or node appearance changed)</small>
    </label>
  </div>
</div>
