<div id="importconfirm-dialog" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="importconfirm-message">Another revision of the data was found in the local storage. Do you want to overwrite it or keep both of them?</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" id="importconfirm-overwrite" class="btn btn-primary" data-dismiss="modal">Overwrite</button>
        <button type="button" id="importconfirm-keepboth" class="btn btn-primary" data-dismiss="modal">Keep both</button>
      </div>
    </div>
  </div>
</div>
