<div class="form-group row">
  <label for="importcol-file" class="col-sm-3 col-form-label">Import mapping column (.json, .csv)</label>
  <div class="col-sm-9">
    <input type="file" id="importcol-file" class="form-control-file" name="file" accept=".json,.csv"/>
  </div>
</div>
<h6>Preview</h6>
<table id="importcol-preview" class="table table-striped table-hover"></table>
