
<div class="form-group row">
  <label for="join-keys" class="col-sm-2 col-form-label">Data columns</label>
  <div class="col-sm-10">
    <input class="form-control" type="text" placeholder="Search" id="join-search"/>
    <ul id="join-keys" class="listbox"></ul>
  </div>
</div>
