
<div class="form-group row">
  <label for="pick-queryarea" class="col-sm-2 col-form-label">Query</label>
  <div class="col-sm-10">
    <textarea id="pick-queryarea" class="form-control" rows="20"></textarea>
  </div>
</div>
