<div class="form-group row">
  <label id="prompt-label" for="prompt-input" class="col-sm-3 col-form-label"></label>
  <div class="col-sm-9">
    <input id="prompt-input" class="form-control" type="text" name="name" size="40"/>
  </div>
</div>
