<div class="form-group row">
  <label for="struct-format" class="col-sm-2 col-form-label">Format</label>
  <div class="col-sm-3">
    <select id="struct-format" class="form-control" name="format">
      <option value="molfile">MDL Molfile</option>
      <option value="smiles">SMILES</option>
      <option value="dbid">Database:ID</option>
    </select>
  </div>
  <label for="struct-qsrc" class="col-sm-2 col-form-label">Database</label>
  <div class="col-sm-5">
    <select id="struct-qsrc" class="form-control" name="query_source"></select>
  </div>
</div>
<div class="form-group row">
  <label for="struct-queryarea" class="col-sm-2 col-form-label">Query</label>
  <div class="col-sm-6">
    <div class="form-group">
      <textarea id="struct-queryarea" class="form-control" name="values" rows="6"></textarea>
    </div>
    <div class="form-group">
      <button type="button" id="struct-preview" class="btn btn-primary btn-sm">Preview structure</button>
    </div>
  </div>
  <div class="col-sm-4">
    <div id="struct-image"></div>
  </div>
</div>
<div class="form-group row">
  <label for="struct-method" class="col-sm-2 col-form-label">Search type</label>
  <div class="col-sm-10">
    <select id="struct-method" class="form-control" name="method">
      <option value="exact">Exact match</option>
      <option value="substr">Substructure</option>
      <option value="supstr">Superstructure</option>
      <option value="gls">MCS-DR/GLS</option>
      <option class="rd" value="rdmorgan">RDKit Morgan similarity</option>
      <option class="rd" value="rdfmcs">RDKit FMCS</option>
    </select>
  </div>
</div>
<fieldset class="form-group row">
  <legend class="col-form-legend col-sm-2">Threshold</legend>
  <div class="col-sm-4">
    <select id="struct-thldtype" class="form-control" name="method">
      <option class="sim" value="sim">Similarity</option>
      <option class="edge" value="edge">Edge count</option>
    </select>
  </div>
  <div class="col-sm-4">
    <input type="number" id="struct-thld" class="form-control" name="thld"/>
  </div>
</fieldset>
<h6 class="form-group row">
  <a class="col-sm-6" data-toggle="collapse" href="#struct-options" aria-expanded="false" aria-controls="struct-options">Optional parameters</a>
</h6>
<div id="struct-options" class="collapse">
<div class="card card-block">
  <div class="form-group row">
    <div class="col-sm-6 form-inline">
      <label for="struct-diam" class="form-label">Diameter</label>
      <input type="number" id="struct-diam" class="form-control gls" name="diameter" value="8" min="4" max="999"/>
    </div>
    <div class="col-sm-6 form-inline">
      <label for="struct-tree" class="form-label">Tree size</label>
      <input type="number" id="struct-tree" class="form-control gls" name="max_tree" value="40" min="20" max="999"/>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-7 form-inline">
      <label for="struct-skip" class="form-label">Skip molecule larger than</label>
      <input type="number" id="struct-skip" class="form-control gls" name="skip_large" value="500" min="20" max="999"/>
    </div>
    <div class="col-sm-5 form-inline">
      <label for="struct-timeout" class="form-label">Timeout(sec)</label>
      <input type="number" id="struct-timeout" class="form-control fmcs" name="timeout" value="1" min="1" max="999"/>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" id="struct-ignoreh" class="form-check-input" checked/> Ignore explicit hydrogens
      </label>
    </div>
    </div>
  </div>
</div>
</div>
<div class="form-group row">
  <label for="struct-targets" class="col-sm-2 col-form-label">Target databases</label>
  <div class="col-sm-10">
    <ul id="struct-targets" class="listbox half"></ul>
  </div>
</div>
