<!DOCTYPE html>
<title>Control panel</title>
<% include header %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pako/1.0.5/pako.min.js"></script>
<script src="dashboardApp.js"></script>
<div class="container-fluid">
  <img id="loading-icon" src="../assets/loading2.gif"/>
  <div id="menubar" class="btn-toolbar" role="toolbar"></div>
  <div id="contents"></div>
</div>
<div id="dialogs"></div>
<script type="text/javascript">
  dashboardApp.run();
</script>
