<!DOCTYPE html>
<title>New network view</title>
<% include header %>
<script src="https://cdn.rawgit.com/upphiminn/jLouvain/76b19313/jLouvain.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pako/1.0.5/pako.min.js"></script>
<script src="networkApp.js"></script>
<div class="container-fluid" style="background-color: #fffff9">
  <img id="loading-icon" src="../assets/loading2.gif"/>

  <!--
  <div id="debugbar">
    <div>state.transform: <span id="debug-transform"></span></div>
    <div>state.boundary: <span id="debug-boundary"></span></div>
    <div>state.focusArea: <span id="debug-focusarea"></span></div>
    <div>state.viewBox: <span id="debug-viewbox"></span></div>
  </div>
  -->

  <div id="menubar" class="btn-toolbar" role="toolbar"></div>
  <div id="contents" class="row">
    <div id="nw-control" class="col-sm-3 p-2"></div>
    <div id="nw-frame" class="col-sm-9 px-0"></div>
  </div>
</div>
<div id="dialogs"></div>
<script type="text/javascript">
  networkApp.run();
</script>
