<!DOCTYPE html>
<title>Compound</title>
<% include header %>
<script src="profileApp.js"></script>
<div class="container-fluid">
  <div id="menubar" class="btn-toolbar" role="toolbar"></div>
  <div id="contents"></div>
</div>
<script type="text/javascript">
  profileApp.run();
</script>
