<!DOCTYPE html>
<title>API Test</title>
<% include header %>
<div class="container-fluid">
  <div class="btn-toolbar">
    <a role="button" class="btn btn-secondary btn-sm" href="dashboard.html" target="_blank">Open dashboard</a>
  </div>
  <div id="results"></div>
</div>
<script src="testAPI.js"></script>
